.header {
  height: 80px;
  background-color: #ffffff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%;
}
.header__title {
  color: #092C48;
  font-size: 1.5rem;
  font-weight: bold;
}
.header__list {
  display: flex;
  justify-content: space-around;
  margin-right: -10px;
}
.header__item {
  font-size: 1rem;
  margin: 0 10px;
}